.gameContainer {
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
}

.heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 2fr); /* Number of columns to fit the smaller cards */
    gap: 3px; /* Reduced horizontal and vertical gap */
    justify-content: center;
}

.card {
    width: 100px; /* Smaller width */
    height: 150px; /* Adjusted height */
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Adjusted border-radius */
    cursor: pointer;
    transition: transform 0.4s;
}

.card.flipped {
    background-color: #28a745;
    transform: rotateY(180deg);
}

.cardFront {
    font-size: 1rem; /* Adjusted font-size for smaller cards */
    font-weight: bold;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialogContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.closeButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #0056b3;
}
